* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(img/base.png);
  background-size: cover;
  background-repeat:   repeat;
  background-position: center center;
  font-family: Andale Mono, monospace,sans-serif;
  min-width: 375px;
}

header {
  position: relative;
  height: 20%;
}

/* navbar */
.nav_main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 65%;
}

.links {
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid red; */
  width: 100%;
  flex-wrap: wrap;
}

.links li {
  list-style: none;
  margin: 0 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.links a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.links li a::before {
  content: "";
  background: linear-gradient(to right, #ffd900, #ffe602);;
  height:5px;
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
}

.links li a::before {
  bottom: -7px;
}

.links li a:hover::before
{
  transform: scaleX(1);
  transform-origin: left;
}

#toggle_button {
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  display: none;
}

/* Dropdown */
.dropdown_menu {
  display: none;
  position: absolute;
  height: 0;
  width: 200px;
  right: 4rem;
  background: rgba(9, 1, 1, 0.465);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  top: 80px;
  transition: height .2s ease-in-out;
  z-index: 1;
}

.dropdown_menu.open {
  height: 310px;
}

.dropdown_menu li{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 100;
  padding:0.7rem;
}

.dropdown_menu li a {
  text-decoration: none;
  color: #fff;
}

.dropdown_menu li a:hover {
  color: #ffe603;
}


/* FORM */

.contact_container {
  display: flex;
  width: 100%;
  color: #fff;
  justify-content: center;
}

form {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.contact_title_container {
  /* display: flex;
  justify-content: center; */
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact_title_container h3{
  text-align: center;
  font-size: 2rem;
}

.contact_title_container p {
  text-align: center;
  padding-bottom: 30px;
  /* width: 60%; */
}

.form_section {
  display: flex;
}

.input_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_img {
  height: auto;
  width: 55%
}

.contact_input {
  height: 130px;
  min-width: 375px;
  border-radius: 15px;
  padding-left: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

textarea {
  min-width: 375px;
  min-height: 150px;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

.contact_container button {
  width: 100%;
}

.btn_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.submit_btn {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 170px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #ff4803;
  background: #fff;
  color: #ff4803;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
}

.submit_btn:hover{
  background: #ff4803;
  color: #fff;
}

.submit_btn span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}

.success{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

.success svg{
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
}

.submit_btn.is_active{
  width: 40px;
  height: 40px;
}

.submit_btn.is_active .success{
  opacity: 1;
  visibility: visible;
}

.submit_btn.is_active .success svg{
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

.submit_btn.is_active span{
  opacity: 0;
  visibility: hidden;
}

/* footer */
.footer_container {
  width: 100%;
  height: 10%;
  /* border: 1px solid yellow; */
}

.icon_container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 1.1rem;
  right: 1rem;
}

.fa-brands.fa-facebook, .fa-brands.fa-instagram {
  color: #fff;
  padding: 10px 7px;
  transition:.5s;
}

.fa-brands.fa-facebook:hover {
  transform:scale(1.5);
  color: #034cff;
}
.fa-brands.fa-brands.fa-instagram:hover {
  transform:scale(1.5);
  color: #ff03e8;
}

/* MEDIA Query */

@media (max-width: 1354px) {

  .links{
    display: none;
  }

  .dropdown_menu, #toggle_button {
    display: block;
  }
}

@media (max-width: 506px) {

  .dropdown_menu.open {
    height: 70vh;
    width: 90vw;
  }

  .dropdown_menu {
    right:1.2rem
  }

  .dropdown_menu li {
    padding: 2.1rem;
  }

}
