* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(img/base.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: Andale Mono, monospace,sans-serif;
  min-width: 375px;
  padding: 0 10px;
  overflow: hidden;
}

header {
  position: relative;
  height: 20%;
}

/* navbar */
.nav_main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 65%;
}

.links {
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid red; */
  width: 100%;
  flex-wrap: wrap;
}

.links li {
  list-style: none;
  margin: 0 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.links a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.links li a::before {
  content: "";
  background: linear-gradient(to right, #ffd900, #ffe602);;
  height:5px;
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  /* transform: rotate(2deg); */
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
}

.links li a::before {
  bottom: -7px;
}

.links li a:hover::before
{
  transform: scaleX(1) ;
  transform-origin: left;
}

#toggle_button {
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  display: none;
}

/* Dropdown */
.dropdown_menu {
  display: none;
  position: absolute;
  height: 0;
  width: 200px;
  right: 4rem;
  background: rgba(9, 1, 1, 0.465);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  top: 80px;
  transition: height .2s ease-in-out;
  z-index: 1;
}

.dropdown_menu.open {
  height: 310px;
}

.dropdown_menu li{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 100;
  padding:0.7rem;
}

.dropdown_menu li a {
  text-decoration: none;
  color: #fff;
}

.dropdown_menu li a:hover {
  color: #ffe603;
}

/* Body */
.menu_container {
  width: 100%;
  height: 70%;
  color: #fff;
  position: relative;
  overflow: auto;
}

.category {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  padding: 2rem 0 1.5rem;
}

.highlight_container, .highlight {
  position: relative;
}

.highlight_container {
  display: inline-block;
}

.highlight_container::before {
  content: " ";
  display: block;
  height: 2px;
  width: 100%;
  margin-left: -5px;
  margin-right: 3px;
  position: absolute;
  background: #ffd500;
  transform: rotate(1deg);
  bottom: -15px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 3px 3px 3px 3px;
}

.title_extra {
  /* display: block; */
  text-align: center;
  font-style: italic;
  padding-bottom: 15px;
}

.food_warning {
  display: flex;
  justify-content: center;
  width: 100%;
}

.food_warning p {
  width: 90%;
  font-style: italic;
  border: 1px solid #ff4803;
  padding: 10px;
}

.extra_options {
  font-style: italic;
}

.menu_items {
  width: 100%;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.menu_items td span::before {
  content: "*"
}

.left_menu {
  width: 50%;
}

.right_menu {
  width: 50%;
}

.three_left_menu {
  width: 33%;
}

.three_mid_menu {
  width: 33%;
}

.three_right_menu {
  width: 33%;
  /* border: 1px solid yellow; */
}

.single_menu {
  width: 80%;
}

table {
  width: 100%;
}

td {
  text-align: center;
  padding-bottom: .5rem;
  /* border: 1px solid white; */
}

.item_name {
  font-size: 1.3rem;
  color: #ff4803;
}

.item_des {
  font-style: italic;
}

.extra_options p {
  border-bottom: 2px solid #ff4803;
  display: inline-block
}

.fa-regular.fa-thumbs-up {
  color: #ffd500;
}

/* footer */
.footer_container {
  width: 100%;
  height: 10%;
  /* border: 1px solid yellow; */
}

.icon_container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 1.1rem;
  right: 1rem;
}

.fa-brands.fa-facebook, .fa-brands.fa-instagram {
  color: #fff;
  padding: 10px 7px;
  transition:.5s;
}

.fa-brands.fa-facebook:hover {
  transform:scale(1.5);
  color: #034cff;
}
.fa-brands.fa-brands.fa-instagram:hover {
  transform:scale(1.5);
  color: #ff03e8;
}

/* MEDIA Query */

@media (max-width: 1354px) {

  .links{
    display: none;
  }

  .dropdown_menu, #toggle_button {
    display: block;
  }
  .menu_items {
    flex-direction: column;
    align-items: center;
  }

  .category {
    font-size: 1.3rem;
  }

  .item_name {
    font-size: 1.1rem;
  }

}

@media (max-width: 506px) {
  .heading_center {
    top: 0;
    left: 13%
  }

  .dropdown_menu.open {
    height: 70vh;
    width: 90vw;
  }

  .dropdown_menu {
    right:1.2rem
  }

  .dropdown_menu li {
    padding: 2.1rem;
  }

  .left_menu, .right_menu {
    width: 70%;
  }

  header {
    height: 15%;
  }

  .menu_container {
    height: 75%;
  }
}