/* Webpage settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  width: 100%;
  font-family:  monospace, Arial, Helvetica, sans-serif
}

/* nav settings */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  text-transform: uppercase;
}

.nav-name {
  font-size: 2rem;
  margin: 1.1rem;
  font-family: 'Papyrus' , Arial, Helvetica, sans-serif;
}

.nav-name span {
  color: crimson;
}

.nav-list ul {
  display: flex;
}

.nav-list li {
  display: inline-block;
  list-style: outside none none;
  margin: 1.3em 1em;
  padding: 0;
}

.nav-list ul a {
  padding: .5em .8em;
  color: #fff;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
}

.nav-list ul a::before,
.nav-list ul a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav-list ul a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: translate(-100%, 50%);
}

.nav-list ul a::after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: translate(100%, -50%)
}

.nav-list ul a:hover:before,
.nav-list ul a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav-list ul a:hover {
  color: #fff;
}

/* nav hamburger menu */
.menuBtn {
  position: absolute;
  top: -1rem;
  right: .75rem;
  display: none;
  height: 80px;
  width: 80px;
  margin: 1rem;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menuBtn-burger {
  height: 3px;
  width: 50px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.menuBtn-burger::before,
.menuBtn-burger::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 50px;
  background: #fff;
  border-radius: 5px;
}

.menuBtn-burger::before {
  transform: translateY(-15px);
}

.menuBtn-burger::after {
  transform: translateY(15px);
}

/* slider */
  #banner {
    overflow: hidden;
  }

  #banner .slider {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
  }

  #banner div img {
    width: 20%;
    float: left;
    max-height: 100%;
  }

  @keyframes slider {
    0% {
      left: 0;
    }

    20% {
      left: 0;
    }

    45% {
      left: -100%
    }

    50% {
      left: -200%
    }

    70% {
      left: -200%
    }

    75% {
      left: -300%
    }

    95% {
      left: -300%
    }

    100% {
      left: -400%
    }
  }


/* about */

#about {
  display: flex;
  padding: 1rem 1rem;
  width: 100%;
  /* justify-content: space-between; */
}

.about-img {
  min-width: 50%;

}
.about-img img {
  border-radius: 10px;
  height: auto;
  display: block;
  width: 100%;
}

.about-text {
  margin-left: 1rem;
  line-height: 1.5rem;
  min-width: 50%;
}

/* location */

#location {
  display: flex;
  /* flex-direction: column; */
  /* overflow: hidden; */
  justify-content: space-evenly;
  /* border: 1px solid white; */
  height: 40%;
}

#location > div
{
  width: 33%;
}

/* .address {
  padding: 10px;
  line-height: 1.5rem;
  min-width: 20%;
  /* text-align: center;
  align-items: center;
} */


#location h3 {
  font-size: 1.4rem;
}

.address, .hours, .number
{
  /* border: 1px solid yellow; */
  padding: 10px;
  margin: 2rem 0;
  text-align: center;
  /* min-width: 40%; */
  min-height: 100%;
}

/* media query */

@media (max-width: 800px) {
  .menuBtn {
    display: flex;
  }

  .nav-list {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul{
    flex-direction: column;
    width: 100%;
  }

  .nav-list ul {
    text-align: center;
  }

  .nav-list li {
    margin: 1rem 1rem;
  }

  .nav-list.open {
    display: flex;
  }
}