* {
  margin: 0;
  padding:0;
}

.navbar {
  background-color: #0E1515;
  display: flex;
  /* flex-wrap: wrap;
  justify-content: center; */
  align-items: center;
  height: 100px;
  font-family: bradley Hand;
}

.navbar .site-title {
  font-size: 30px;
  width: 25%;
  display: block;
  margin-left: 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding: 0 auto;
  text-decoration: none;
  font-size: 25px;
  width: 75%;
}

a {
  text-decoration: none;
}
/* a tag links */

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  font-size: 110%;
}
